sudo: false
language: rust
rust:
- nightly
- beta
- stable
matrix:
  allow_failures:
  - rust: nightly
before_script:
- ! 'pip install ''travis-cargo<0.2'' --user &&

  export PATH=$HOME/.local/bin:$PATH

'
script:
- ! 'travis-cargo build &&
  travis-cargo build -- --features "crypto" &&
  travis-cargo test -- --features "crypto" &&
  travis-cargo bench -- --features "crypto" &&
  travis-cargo --only stable doc -- --features "crypto"
'
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
    - libsodium13
    - libsodium-dev
after_success:
- travis-cargo --only stable doc-upload
- travis-cargo coveralls --no-sudo
notifications:
  email:
    on_success: never
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
