Source: vpncloud
Section: misc
Priority: extra
Maintainer: Dennis Schwerdel <schwerdel@informatik.uni-kl.de>
Build-Depends: debhelper (>= 7), ruby-ronn
Standards-Version: 3.8.3

Package: vpncloud
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Peer-to-peer VPN
