Source: vpncloud
Section: misc
Priority: optional
Maintainer: Dennis Schwerdel <schwerdel@informatik.uni-kl.de>
Build-Depends: debhelper (>= 9), ruby-ronn
Standards-Version: 3.8.3

Package: vpncloud
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Peer-to-peer VPN
 VpnCloud is a simple VPN over UDP. It creates a virtual network interface on
 the host and forwards all received data via UDP to the destination. VpnCloud
 establishes a fully-meshed VPN network in a peer-to-peer manner. It can work
 on TUN devices (IP based) and TAP devices (Ethernet based).
