[Unit]
Description=VpnCloud
Before=systemd-user-sessions.service

[Service]
ExecStartPre=/bin/echo "Please use instantiated services (vpncloud@NAME) instead."
ExecStart=/bin/false

[Install]
WantedBy=
