[Unit]
Description=VpnCloud network '%I'
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/vpncloud --config /etc/vpncloud/%i.net --daemon --log-file /var/log/vpncloud-%i.log --stats-file /var/log/vpncloud-%i.stats --pid-file /run/vpncloud-%i.pid
WorkingDirectory=/etc/vpncloud
PIDFile=/run/vpncloud-%i.pid

[Install]
WantedBy=multi-user.target
