vpncloud/debian/files
vpncloud/debian/vpncloud
vpncloud/vpncloud
vpncloud-nocrypto/debian/vpncloud*
vpncloud-nocrypto/debian/files
vpncloud-nocrypto/vpncloud
*.deb
*.build
*.changes
*.debhelper*
*.substvars
